* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
